@import "./assets/styles/background.css";
@import "./assets/styles/clue.css";
@import "./assets/styles/keyboard.css";
@import "./assets/styles/dialog.css";


body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background: white;
    touch-action: manipulation;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curtain {
    position: absolute;
    top: 5vh;
    width: 100vw;
    height: 65vh;
    background: white;
}


