.clue-area {
    height: 5vh;
    width: 100vw;
    font-size: 3vh;
    letter-spacing: 1vh;
    text-align: center;
    background: blue;
    color: white;
}

#refresh-button {
    position: absolute;
    top: 0;
    right: 4px;

    font-family: cursive;
    font-size: 1.4rem;
    transform: rotate(90deg);

    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 42;
}
